<div class="footer">
  <div class="col-md-6">
    <div class="contacts">
    <h4>Naprok outstaffing, LLC</h4>     
    <h4><i class="fa fa-map-marker" aria-hidden="true"></i> 200 Shevchenka blvd, 18000, Cherkasy, Ukraine</h4>
    <h4><i class="fa fa-envelope" aria-hidden="true"></i> contact@naprok.com</h4>
    <h4><i class="fa fa-phone" aria-hidden="true"></i> +380977535731</h4>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="social">
      <ul class="list-inline">
         <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook  fa-4x"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus  fa-4x"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter  fa-4x"></i></a>
        </li>
        <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin  fa-4x"></i></a>
        </li>
      </ul>
    </div>
</div>
</div>

